body {
    background-color: #0891b2;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: white;
    background-color: #0e7490;
}

button {
    padding: 15px;
    font-family: 'roboto', sans-serif;
    background-color: #a5f3fc;
    border: none;
    color: black;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.container {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    box-sizing: border-box;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #eee;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #ddd;
}



.reset {
    justify-self: center;
}

#before-game, #winner-text {
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
} 
 
p {
    font-size: 24px;
    margin-bottom: 40px;
}
  
 button {
    font-size: 24px;
    background-color: #0e7490;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #footer {
    background-color: #0e7490;
    color: #fff;
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 125px;
  }
  
.github-logo {
    margin-top: 25px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }


  #continue-button:hover {
    background-color: #3E8E41;
  }

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');